# control flow

### condition

- if

- if else

- if elif ladder

- match case

- nested if 

### loops

- for loop

- while loop

In [4]:
x= 10
if x>=5:
    print("👻 ver nice")

y=2
if x>5 and y<5:
    print("🐞🪲 no bugs here")

name = " Alex"
if name:
    print("name exists")

👻 ver nice
🐞🪲 no bugs here
name exists

In [5]:
a= 'apple'
if len(a):
    print("a is not empty")

else:
    print("a is empty")

a is not empty

In [1]:
# if elif ladder

a=4
b=6
c=2
if a>b and a>c:
    print('A is the greatest')
elif b>c and b>a:
    print('B is the greatest ')
else:
    print('C is the greatest ')

B is the greatest

In [2]:
marks= int(input("enter the marks"))
if marks>=90:
    grade="A"
elif marks>=75:
    grade="B"
elif marks>=60:
    grade="C"
elif marks>50:
    grade="D"
else:
    grade="F"
print(f"students marks = {marks}")
print(f"students grade = {grade}")

students marks = 77
students grade = B

In [4]:
# match case

ans = input("What is the Capital of India?")
match ans:
    case 'Lucknow'|'lucknow':
        print("You are too Stupid")
    case 'Delhi'| 'delhi':
        print("You are Correct")
    case 'Culcutta'|'culutta':
        print("You must be under a stone")
    case 'Shimla'|'shimla':
        print("This is Free India")
    case _:
        print("You are not from India")

This is Free India

In [6]:
print("Chai ki dukaan")
print("1. Chai 10 Rs")
print("2. Bun Makkhan 30 Rs ")
print("3. Cutting 5 Rs")
print("4. Samosa 10 Rs")
choice = int(input("Enter your choice"))
match choice:
    case 1:
        print("You have selected Chai")
    case 2:
        print("You have selected Bun Makkhan")
    case 3:
        print("You have selected Cutting")
    case 4:
        print("You have selected Samosa")
    case _:
        print("kahi aur jao bhaiya")

Chai ki dukaan
1. Chai 10 Rs
2. Bun Makkhan 30 Rs
3. Cutting 5 Rs
4. Samosa 10 Rs
You have selected Cutting

## loops
- step based loop (for loop)
- condition based loop (while loop)

In [1]:
numbers = [1,2,3,4,5,6]
for i in numbers:
    print(i)

1
2
3
4
5
6

In [2]:
brands = ['sony', 'apple','lenovo','samsung' ]
for name in brands:
    print(name)

sony
apple
lenovo
samsung

iterable
- list
- str
- tuple
- set
- dict
- generator
- range

In [4]:
word = 'journey'
for char in word:
    print(char)

j
o
u
r
n
e
y

In [5]:
for i in {12,67,7,88}:
    print(i)

88
67
12
7

` range` function for the `for loop`

`range(stop)` - 0  to stop-1

`range(start, stop)`-start to stop-1

`range(start, stop ,step)`- start to stop-1 with step

In [8]:
for i in range(10):
    print(i,end='  ')

0  1  2  3  4  5  6  7  8  9

In [9]:
for i in range(5,11):
    print(i,end='  ')

5  6  7  8  9  10

In [10]:
# reverse loop

for i in range(10,0,-1):
    print(i,end=' ')

10 9 8 7 6 5 4 3 2 1

In [11]:
for i in range(5,15,2):
    print(i,end=' ')

5 7 9 11 13

In [13]:
for i in range(-5,6):
    print(i,end=' ')

-5 -4 -3 -2 -1 0 1 2 3 4 5

In [20]:
# sum of all numbers from 1-100
total=0
for i in range(1,100,1):
    total=total+i
print(total)

4950

In [21]:
sum(list(range(1,101)))

5050

In [29]:
# find the largest word in the list
words= ['ben','satyam','roy','soham','maniratnam']
word =''
for item in words:
    #print(f'{word}={len(word)} and {item}={len{item}}')
    if len(item)>len(word):
        word=item

print(word)

maniratnam

break and continue

In [34]:
for i in range(10):
    if i ==5:
        break
    print(i, end=' ')
print("The End")

0 1 2 3 4 The End

In [31]:
data = [1,2,3,0,4,5,6,7,7]
for i in data:
    if i==0:
        print("We found some crap")
        break
    print(i)

1
2
3
We found some crap

In [32]:
data = [1,2,3,0,4,5,6,7,7]
for i in data:
    if i==0:
        continue
    print(i**2)

1
4
9
16
25
36
49
49

`enumerate()` , `zip()`

In [39]:
fruits=['apple','banana','mango','kiwi','orange']
for idx,name in enumerate(fruits):
    print(idx,name)

0 apple
1 banana
2 mango
3 kiwi
4 orange

In [40]:
numbers=[33,46,75,36,112]
for idx,num in enumerate(numbers):
    print(num*idx)

0
46
150
108
448

In [43]:
x=[1,2,3]
y=[4,5,6]
z=[7,8,9,10]
w='jello'
for i,j,k ,l in zip(x,y,z,w):
    print(i+j+k,l)

12 j
15 e
18 l

In [42]:
x=[1,2,3,4]
y=[11,22,33,44,55]
for i,j in zip(x,y):
    print(i+j)

12
24
36
48

In [45]:
# count the number of vowels in a sentence

sentence= "This is a very good day"
for i in sentence:
    if i in "aeiouAEIOU":
        print(i)

i
i
a
e
o
o
a

In [46]:
# count the number of vowels in a sentence

sentence= "This is a very good day"
count=0
for ch in sentence:
    if ch in "AEIOUaeiou":
        count+=1
print(count)

7