Data Structure - list

1. creating
2. indexing and slicing (same as string)
3. method -11 methods|
4. list comprehension

In [1]:
x= []
num_list = [1,2,3,4]
word_list = ['this', 'of','that']
bool_list =[True, False,True]
mixed_list = [1,2,'three',False]
nested_list =[[1,2,3],[4,5,6]]

In [3]:
y= list(range(1,16,3))
print(y)
a=[1,2,3]
b=[1,3,2]
c=[3,2,1]
mat =[a,b,c]
print(mat)

z=[1]*10
print(z)

[1, 4, 7, 10, 13]
[[1, 2, 3], [1, 3, 2], [3, 2, 1]]
[1, 1, 1, 1, 1, 1, 1, 1, 1, 1]

Rules for list
1. indexed
2. ordered
3. mutable
4. heterogenous datatype
5. can have duplicate values
6. represented with `[]`
7. `list()` can used to cast other datastructure to a list

In [4]:
names= ['shiv','rahul','nitesh','ajay','atul','shalu','riya','kirti','isha','shailja','savri','satwik','ritesh']
print(len(names))

13

In [6]:
print(names[0])
print(names[-1])
print(names[5])
print(names[3])
print(names[10])

shiv
ritesh
shalu
ajay
savri

In [8]:
# slicing
print(names[:5])
print(names[-5:])
print(names[2:-2])
print(names[::-1])
print(names[::2])
print(names[1::2])

['shiv', 'rahul', 'nitesh', 'ajay', 'atul']
['isha', 'shailja', 'savri', 'satwik', 'ritesh']
['nitesh', 'ajay', 'atul', 'shalu', 'riya', 'kirti', 'isha', 'shailja', 'savri']
['ritesh', 'satwik', 'savri', 'shailja', 'isha', 'kirti', 'riya', 'shalu', 'atul', 'ajay', 'nitesh', 'rahul', 'shiv']
['shiv', 'nitesh', 'atul', 'riya', 'isha', 'savri', 'ritesh']
['rahul', 'ajay', 'shalu', 'kirti', 'shailja', 'satwik']

In [7]:
print(names[::-1])      # reverse
print(names[::2])       #even students
print(names[1::2])      #odd students

['ritesh', 'satwik', 'savri', 'shailja', 'isha', 'kirti', 'riya', 'shalu', 'atul', 'ajay', 'nitesh', 'rahul', 'shiv']
['shiv', 'nitesh', 'atul', 'riya', 'isha', 'savri', 'ritesh']
['rahul', 'ajay', 'shalu', 'kirti', 'shailja', 'satwik']

In [17]:
for i in names:
    print(i[::-1],end='-')

vihs-luhar-hsetin-yaja-luta-ulahs-ayir-itrik-ahsi-ajliahs-irvas-kiwtas-hsetir-

list methods

- add
    - append
    - extend
    - insert

- remove
    - remove
    - pop
    - clear

- utlity
    - reverse
    - sort
    - count
    - index
    - copy

In [24]:
fruits =['apple','banana','cherry','dragonfruit','elderberry','fig']

In [25]:
fruits.append('gauva')
print(fruits)

['apple', 'banana', 'cherry', 'dragonfruit', 'elderberry', 'fig', 'gauva']

In [28]:
fruits.append('hazelnut')
fruits.append('jackfruit')
print(fruits)

['apple', 'banana', 'cherry', 'dragonfruit', 'elderberry', 'fig', 'gauva', 'hazelnut', 'jackfruit', 'hazelnut', 'jackfruit']

In [29]:
fruits.extend([1,2,3])
print(fruits)

['apple', 'banana', 'cherry', 'dragonfruit', 'elderberry', 'fig', 'gauva', 'hazelnut', 'jackfruit', 'hazelnut', 'jackfruit', 1, 2, 3]

In [30]:
fruits.append([1,2,3])
print(fruits)

['apple', 'banana', 'cherry', 'dragonfruit', 'elderberry', 'fig', 'gauva', 'hazelnut', 'jackfruit', 'hazelnut', 'jackfruit', 1, 2, 3, [1, 2, 3]]

In [49]:
x=[11,12,14,15,18,20]
#replace value 14 by 13
x[2]=13
print(x)

[11, 12, 13, 15, 18, 20]

In [37]:
x.insert(3,14)
print(x)

[11, 12, 13, 14, 15, 18, 20]

In [38]:
x.insert(5,16)
print(x)

[11, 12, 13, 14, 15, 16, 18, 20]

In [47]:
x.insert(6,17)
print(x)

[11, 12, 13, 15, 18, 17, 17]

In [50]:
x.remove(20)
print(x)

[11, 12, 13, 15, 18]

In [51]:
x=[1,1,1,2,2]
print(x)
x.remove(1)
x.remove(2)
print(x)

[1, 1, 1, 2, 2]
[1, 1, 2]

In [52]:
x=[1,1,2,3,4,5]
if 5 in x:
    x.remove(5)
if 6 in x:
    x.remove(6)
print(x)

[1, 1, 2, 3, 4]

In [53]:
x=[11,12,13,14,15,16]
x.pop()
print(x)
x.pop(2)
print(x)

[11, 12, 13, 14, 15]
[11, 12, 14, 15]

In [54]:
item =x.pop()
print(x)
print(item)

[11, 12, 14]
15

In [55]:
x.clear()
print(x)

[]

In [56]:
names.clear()
print(names)

[]

In [57]:
fruits.reverse()
print(fruits)

[[1, 2, 3], 3, 2, 1, 'jackfruit', 'hazelnut', 'jackfruit', 'hazelnut', 'gauva', 'fig', 'elderberry', 'dragonfruit', 'cherry', 'banana', 'apple']

In [59]:
nums=[12,123,34,55,64,43]
nums.sort()
print('ascending',nums)
nums.sort(reverse=True)
print('descending',nums)

ascending [12, 34, 43, 55, 64, 123]
descending [123, 64, 55, 43, 34, 12]

In [68]:
x = [12,24,43,54,88,43,11,11,11]
print(x.count(1))
print(x.count(12))
print(x.count(11))

0
1
3

In [62]:
print(fruits)
print('gauva->',fruits.index('gauva'))
print('banana->',fruits.index('banana'))

[[1, 2, 3], 3, 2, 1, 'jackfruit', 'hazelnut', 'jackfruit', 'hazelnut', 'gauva', 'fig', 'elderberry', 'dragonfruit', 'cherry', 'banana', 'apple']
gauva-> 8
banana-> 13

In [67]:
x=[1,2,3]
y=x
print(x)
print(y is x)
z=x.copy()
print(z)
print(z is x)

[1, 2, 3]
True
[1, 2, 3]
False

In [2]:
# comprehension
x= [1,2,3,4]
x2=[]
for i in x:
    s=i**2
    x2.append(s)
print(x2)

[1, 4, 9, 16]

In [3]:
# list comprehension
x2= [i+10 for i in x]
print(x2)

[11, 12, 13, 14]

In [4]:
# comprehension with condition (newlist)-[operation loop condition]
x= [1,3,6,7,10,20,2]
x2= [i**2 for i in x if i%2==0]
print(x2)

[36, 100, 400, 4]

In [5]:
x= list(range(50))
x2=[i**2 for i in x if i%2==0]
print(x)
print(x2)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49]
[0, 4, 16, 36, 64, 100, 144, 196, 256, 324, 400, 484, 576, 676, 784, 900, 1024, 1156, 1296, 1444, 1600, 1764, 1936, 2116, 2304]

In [6]:
names=["Satwik","Manas","Shiv","Naman","Arpit","Ritesh","Paras","Faheem","Esha","Sachin"]
x=[]
for i in names:
    m=i[0]+i[-1]
    x.append(m)
print(x)

['Sk', 'Ms', 'Sv', 'Nn', 'At', 'Rh', 'Ps', 'Fm', 'Ea', 'Sn']

In [7]:
names=["Satwik","Manas","Shiv","Naman","Arpit","Ritesh","Paras","Faheem","Esha","Sachin"]
output=[(i[0]+i[-1]).lower() for i in names]
print(output)

['sk', 'ms', 'sv', 'nn', 'at', 'rh', 'ps', 'fm', 'ea', 'sn']